<h1>This is a notebook to implement the Final Assignment of IBM Data Science course on Coursera.</h1>

My name is Rafael Fensterseifer and I am from Porto Alegre, Rio Grande do Sul state, Brasil

In [2]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<h1>1 - First of all, get our data!</h1>

<h3> 1.1 - List of Postal Codes of Toronto (Ontario/Canada) and its latitude and longitude coordinates</h3>

In [4]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
df.replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], axis=0, inplace=True)
df.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
# The code was removed by Watson Studio for sharing.

103 postal codes

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

<h3>1.2 - List of Toronto Universities and its latitude and longitude coordinates</h3>

In [45]:
url = 'http://www.unipage.net/en/universities/toronto'

import requests

r = requests.get(url)
dfUniversities = pd.read_html(r.text)[0]
dfUniversities = dfUniversities[['Title']]
dfUniversities

                                                Title
0                               University of Toronto
1                                     York University
2                                  Ryerson University
3                                      Humber College
4                                  Centennial College
5                                George Brown College
6                                     OCAD University
7      Michener Institute for Applied Health Sciences
8              Canadian Memorial Chiropractic College
9                          Tyndale College & Seminary
10                Regis College University of Toronto
11                                     Seneca College
12                                Victoria University
13                          Academy of Design Toronto
14                      University of Trinity College
15                SSLC — Sprott Shaw Language College
16  UCCBT - Upper Career College Business & Techno...
17    ILAC - International Language Academy of Canada
18                              Upper Madison College
19                    Institute for Christian Studies
20  University of Toronto – University of St. Mich...
21           University of Toronto – Wycliffe College

In [35]:
dfUniversities.shape

(22, 1)

In [36]:
# The code was removed by Watson Studio for sharing.

In [37]:
# !pip install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

In [38]:
geolocator = Nominatim(user_agent="foursquare_agent")

In [77]:
def f(row):
    location = geolocator.geocode('{}, Toronto, ON, CA'.format(row.Title))
    if location != None:
        return location.latitude, location.longitude

dfUniversities['coords'] = dfUniversities.apply(f, axis=1)

In [78]:
dfUniversities[['lat','lon']] = pd.DataFrame(dfUniversities['coords'].tolist(), index=dfUniversities.index)
#dfUniversities['lat'], dfUniversities['lon'] = dfUniversities['coords'].apply(lambda c: c if c != None else (np.nan,np.nan))

In [79]:
dfUniversities.drop(columns='coords', inplace=True)
dfUniversities

                                                Title        lat        lon
0                               University of Toronto  43.663462 -79.397760
1                                     York University  43.779242 -79.483559
2                                  Ryerson University  43.658469 -79.378993
3                                      Humber College  43.728512 -79.606250
4                                  Centennial College  43.785792 -79.227810
5                                George Brown College  43.661689 -79.391492
6                                     OCAD University  43.649334 -79.388887
7      Michener Institute for Applied Health Sciences        NaN        NaN
8              Canadian Memorial Chiropractic College        NaN        NaN
9                          Tyndale College & Seminary        NaN        NaN
10                Regis College University of Toronto        NaN        NaN
11                                     Seneca College  43.796730 -79.349377
12                                Victoria University  43.667176 -79.393282
13                          Academy of Design Toronto        NaN        NaN
14                      University of Trinity College        NaN        NaN
15                SSLC — Sprott Shaw Language College        NaN        NaN
16  UCCBT - Upper Career College Business & Techno...        NaN        NaN
17    ILAC - International Language Academy of Canada        NaN        NaN
18                              Upper Madison College        NaN        NaN
19                    Institute for Christian Studies        NaN        NaN
20  University of Toronto – University of St. Mich...        NaN        NaN
21           University of Toronto – Wycliffe College        NaN        NaN

In [ ]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

Solving environment: |