In [5]:
import pandas as pd
import numpy as np

Pandas 'read_html' do almost all workload. Dataframe is created with column names and equal itens where concatenated.

In [21]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Only 'PostalCode' column name must be renamed.

In [27]:
df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [28]:
df.replace('Not assigned', np.nan, inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A               NaN                        NaN
1        M2A               NaN                        NaN
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

After translate 'Not assigned' values to Numpy.NaN in all table cells, all lines containing that value on column 'Borough' are dropped.

In [29]:
df.dropna(subset=['Borough'], axis=0, inplace=True)
df.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [34]:
df[df['Neighbourhood']==np.nan]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

There are no Neighbourhood lines

In [30]:
df.shape

(103, 3)